*{
    margin: 0;
    padding: 0;
}
@import '../responsive/responsive.scss';
$dark: #1c1e1f;
$xanh:#009262;
$white:#ffffff;
$xam:#aeaeae;
$color-p:#888888;
$color:#00c483;
$vang:#ffb400;
$datroi:#2196F3;
$lacay:#72b626;
$do:#ec1839;