@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500&display=swap');
@import '../base/base.scss';
/* ===============================================================================
   Table Of Content
   ===============================================================================
   1.General
   2.Section
   3.Change Bar
   4.Load
*/


/* ===============================================================================
    1. General
   ===============================================================================
*/
*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
ul{
    list-style: none !important;
}
a{text-decoration: none !important;}
body{
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

 /* width */
 ::-webkit-scrollbar {
    width: 3px;
    border-radius: 16px;
  
}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2d2e; 
    background-color: #1c1c1c; 
    
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b2d2e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1c1e1f;

}


@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}
@mixin boder {
    position: absolute;
    content: '';
    width: 120px;
    height: 2px;
    background-color: #00c483;
    bottom: 0;
    text-align: center;
    display: inline-block;
}
@mixin  h2 {
    color: $color;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 10px 0px;
    font-size: 25px;
    i{
        padding-right: 5px;
    }
    &::before{
        @include boder();
    }
    
}
@mixin box {
    width: 100%;
    background-color: $dark;
    height:100%;
    padding: 10px 20px 0 20px;
}
@mixin ani {
    animation: star 2s forwards;
    transition-delay: 2s;
     
    @keyframes star {
        0%{
            opacity: 0;
        }
       
        100%{opacity: 1;}
    }
}

/* ===============================================================================
    2. Section
   ===============================================================================
*/
section{
    background-color:#000000;
      width: 100%;
    height: 100vh;
    z-index: 999;
    .profile{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .profile__box {
            display: flex;
            flex-wrap: nowrap !important;
            .nav__profile {      
                height: 95vh;
                width: 100%;
                padding: 0 ;
                .nav__box {
                        width: 100%; 
                         display: flex;
                        height: 100%;
                        align-items: center;
                        .profile__left{
                            max-width: 20%;
                            flex:  0 0 20%;
                            height: 90%;
                            background-color: $dark;
                            
                            .nav__left{
                                height: 100%;
                               
                                .bar{
                                    text-align: center;
                                    margin: 0;
                                    height: 15%;
                                    @include flex();
                                    background-color: $xanh;
                                    &:hover{
                                        cursor: pointer;
                                    }
                                    &:hover a i{
                                        color: #fff;
                                    }
                                    a{
                                        height: 100%;
                                       font-size: 20px;
                                        color: #000000;
                                        transition: 0.5s;
                                       
                                    }
                                }
                                .nav__list{
                                    text-align: center;
                                    list-style: none;
                                    margin: 0;
                                    height: 70%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    padding: 20px 0;
                                    li a{
                                      
                                        color: $xam;
                                        width: 50px;
                                        height: 50px;
                                        font-size: 18px;
                                        transition: 0.3s;
                                        display: inline-block;
                                        line-height: 50px;
                                        text-align: center;
                                        // background-color: gold;
                                        position: relative;
                                        &:hover::before{
                                            opacity: 1;
                                            visibility: visible;
                                            transform: scale(1.2);   
                                        }
                                        &::before{
                                            position: absolute;
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                            border: 2px solid #00c483;
                                            border-radius: 50%;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: 0.5s;

                                        }
                                        &:hover i{
                                            color: #00c483;
                                        }
                                        &.color{
                                            color: #00c483;
                                        }
                                    }
                                }
                                .download{
                                    text-align: center;
                                    margin: 0;
                                    height: 15%;
                                    @include flex();
                                  
                                    a{
                                        color: #00c483;
                                        font-size: 18px;
                                        cursor: pointer;
                                        i{
                                            &:hover{
                                                color:#fff;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        .profile__right{
                            max-width: 80%;
                            flex:  0 0 80%;
                            height: 100%;
                            background-color: #1c1c1c;
                            .profile__right-img {
                                text-align: center;
                                margin-top: 20px;
                                img{
                                    background-color:  #171919;
                                    width: 150px;
                                    height: 150px;
                                    border-radius: 50%;
                                    border: 2px  solid #00c483;;
                                }
                            }
                            .profile__right-info{
                                text-align: center;
                                padding: 10px 0px;
                                h4{ 
                                    color: #00c483;
                                    font-size: 22px;
                                    position: relative;
                                    padding-bottom: 5px;
                                    &::before{
                                      @include boder();
                                        
                                    }
                                    i{
                                        font-size: 20px;
                                        padding-right: 5px;
                                    }
                                }
                                h6{
                                    color:$xam ;
                                    font-size: 14px;
                                   padding-top: 10px;
                                   
                                }
                                ul{
                                    li{
                                        color: $xam;
                                        padding: 5px 0;
                                    }    
                                }
                            }
                            .profile__icon{
                                display: flex;
                                justify-content: center;
                                li a{
                                    width: 50px;
                                    height: 50px;
                                    border: 2px solid #00c483;
                                    font-size: 20px;
                                    display: inline-block;
                                    line-height: 50px;
                                    text-align: center;
                                    color: #00c483;
                                    margin: 0 5px;
                                    border-radius: 50px;
                                    &:hover{
                                        border: 2px solid #00c483;
                                       
                                    }
                                    &:hover i{
                                        color: $xam;
                                    }
                                }
                            }
                        }

                    }
              
            }
            .content__profile{
               
                height: 95vh;
                width: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                position: relative;
              
                .content__container{
                    width: 100%;
                    height: 90%;
                    position: relative;
                    overflow: hidden;
                  
                    .box{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        visibility: hidden;
                        background-color: $dark;
                        // transform: rotateY(90deg);
                        transition: 0.5s ;
                        transform-origin:  0 0;
                        perspective-origin: 1000;
                        transform: translate(-100%);
                        
                        &.hien{
                            transition-delay: 0.5s;
                            visibility: visible;
                            opacity: 1;
                            transform: translate(0);
                            // transform: rotateY(0deg); 
                        }
                        .box-item{
                           &.opaciti{
                               animation: op 2s;
                               
                               @keyframes op {
                                   0%{ opacity: 0;}
                                   50%{opacity: 0;}
                                   100%{opacity: 1;}
                               }
                           }
                        }
                        .box__item-1{
                          @include box();
                            overflow-y: auto;            
                         
                            .box__introduce{
                                padding: 10px 0;
                                border-bottom: 1px solid $xam;
                                h2{
                                    @include h2();
                                }
                                p{                   
                                    color: $xam;
                                    letter-spacing: 1px;
                                    font-size: 15px;
                                    font-family: 'Roboto', sans-serif;
                                    span{color: #fff;font-size: 20px;}
                                }
                            } 
                            .box__text{
                                padding: 10px 0;
                                border-bottom: 1px solid $xam;
                                h2{
                                    @include h2();
                                }
                                h4{
                                    padding: 5px 0;
                                    color: $xam;
                                }
                                p{
                                    color: $xam;
                                    letter-spacing: 1px;
                                    font-size: 15px;
                                    font-family: 'Roboto', sans-serif;
                                }
                            } 
                            .box__target{
                                padding: 10px 0;
                                border-bottom: 1px solid $xam;
                                h2{@include h2()}
                                p{color: $xam;margin: 0;}
                            }
                            .box__advantages{
                                padding: 10px 0;
                                h2{
                                    @include h2();
                                }
                                .advantages__container {
                                    .advantages__left{
                                        h2{ @include h2();}
                                        p{   font-size: 15px;   color: $xam; margin: 0;}
                                    }
                                    .advantages__right {
                                        h2{@include h2();}
                                        p{    font-size: 15px;  color: $xam; margin: 0;}
                                    }
                                }
                            } 
                            
                        }
                        .box__item-2{
                          @include box();
                          overflow-y: auto;
                          position: relative;
                           h2{@include h2()}
                           .box__phone{
                               margin: 10px 0;
                               padding-bottom: 30px;
                               border-bottom: 1px solid $xam;
                               .row{
                                   .phone__item{
                                       margin-bottom: 5px;
                                       span{
                                           color: #fff;
                                           cursor: pointer;
                                           font-size: 16px;
                                           &:hover{color: $color;}
                                           i{
                                               margin-right: 10px;
                                               color: $color;
                                           }
                                       }
                                   }
                               }
                            }
                            .box__mess{
                                padding: 20px 0;
                                h3{color: $color;}
                                form{
                                    label{
                                        display: block;
                                        padding: 20px 0;
                                        input{
                                            width: 100%;
                                            background: none;
                                            border: none;
                                            border-bottom: 1px solid $xam;
                                            outline: none;
                                            padding: 5px 0px;
                                            &:focus{
                                                color: #00c483;
                                                border-bottom: 1px solid #00c483;
                                            }
                                        }
                                       
                                    }
                                    textarea{
                                        width: 100%;
                                        background: none;
                                        border: none;
                                        border-bottom: 1px solid $xam;
                                        outline: none;
                                        
                                        &:focus{
                                            color: #00c483;
                                            border-bottom: 1px solid #00c483;
                                        }
                                    }
                                    a{
                                        text-decoration: none;
                                        display: inline-block;
                                        padding: 5px 30px;
                                        font-size: 18px;
                                        margin: 20px 0;
                                        color: #000;
                                        background-color: #00c483;
                                    }
                                }
                            }
                        }
                        .box__item-3{
                           @include box();
                           overflow-y: auto;
                           h2{
                               @include h2();
                           }
                           .box__product{
                               margin-top: 20px;
                               .product__item{                             
                                    .item__box{
                                        margin-bottom: 20px;
                                        position: relative;
                                        cursor: pointer;
                                        &:hover::before{
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                        &:hover  .product__view a{
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                        &::before{
                                            position: absolute;
                                            content: '';
                                            background-color: rgba(0,0,0,0.7);
                                            width: 100%;
                                            left:0;
                                            height: 100%;
                                            top: 0;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: 0.5s;
                                        }
                                        .product__img{
                                            img{
                                            width: 100%;
                                            transition: 0.5s;
                                            
                                            }
                                        } 
                                        .product__view{
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                          @include flex();

                                            a{ color: #fff;
                                                text-decoration: none;
                                                padding: 5px 20px;  
                                                opacity: 0;
                                                
                                                padding: 5px 20px;
                                                display: inline-block;
                                                border-radius: 20px;
                                                border: 1px solid #00c483;
                                                transition: 0.5s;
                                                &:hover{
                                                    color: $color;
                                                }
                                                visibility: hidden;
                                                &:hover  i{
                                                    color: $color;
                                                }
                                                i{font-size: 14px; padding-right: 5px;}
                                            }
                                        }
                                    }                                 
                               }
                           }

                        }
                        .box__item-4{
                           @include box();
                           overflow-y: auto;
                            h2{
                                @include h2();
                            }
                            .interests__list{
                                display: flex;
                                justify-content: center;
                                padding: 20px 0;
                                li{ color:$color;
                                    margin: 0 20px;
                                    cursor: pointer;
                                    padding: 5px 20px;
                                    display: inline-block;
                                    border: 1px solid $xanh;
                                    &.border{
                                        border: 1px solid #fff;
                                    }      
                                }
                                .border{
                                    border: 1px solid #fff;
                                }
                            }
                           .interests{
                                .interests__box{
                                    overflow: hidden;
                                    .interests__item{
                                        margin-bottom: 20px;
                                        .interests__item-box{
                                            position: relative;
                                            overflow: hidden;
                                            
                                            &:hover::before{
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                            &:hover  .interests__text a{
                                                opacity: 1;
                                                visibility: visible;
                                                transform: translateY(0px);
                                            }
                                            &::before{
                                                position: absolute;
                                                content: '';
                                                background-color:rgba(0,0,0,0.7);
                                                width: 100%;
                                                height: 100%;
                                                top: 0;
                                                opacity: 0;
                                                visibility: hidden;
                                                transition: 0.5s;
                                            }
                                            .interests__img{
                                                img{width: 100%;border-radius: 5px;}
                                            }
                                            .interests__text{
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                top: 0;
                                                left: 0;
                                                @include flex();
                                                a{
                                                    opacity: 0;
                                                    visibility: hidden;
                                                    transform: translateY(20px);
                                                    color: $color;
                                                    padding: 5px 20px;
                                                    display: inline-block;
                                                    background-color: #2b2d2e;
                                                    border-radius: 20px;
                                                    border: 1px solid #00c483;
                                                    transition: 0.5s;
                                                   
                                                    &:hover{
                                                        color: #fff;
                                                        background-color: transparent;
                                                    }
                                                }
                                            }

                                        }

                                       
                                    }
                                }
                            }
                            .lightbox{
                                position: fixed;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;     
                                display: none;
                                &.open{
                                    display: block;
                                }
                               
                                .lightbox-content{
                                   position: absolute;
                                   top: 50%;
                                   left: 50%;
                                   transform: translate(-50%,-50%);
                                    z-index: 3;
                                    .lightbox-close{
                                     
                                        display: flex;
                                        justify-content: flex-end;
                                        color: #fff;
                                        font-size:30px;
                                        cursor: pointer;
                                        &:hover{color: $color;}
                                    }
                                    .lightbox__img{
                                        img{
                                            cursor: pointer;
                                            width: 430px;
                                            border-radius: 5px;
                                        }
                                    }
                                    .lightbox-caption{
                                        color: #fff;
                                        font-size: 20px;
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                                .lightbox__overlay{
                                    position: absolute;
                                    z-index: 1;
                                    background-color: rgba(0,0,0, 0.7);
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    opacity: 0;
                                    visibility: hidden;
                                    cursor: pointer;
                                    transition: 0.5s;
                                    &.visible{
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                                .lightbox-control {
                                    position: absolute;
                                    top: 50%;
                                    width: 100%;
                                    height: 0%;
                                    z-index: 3;
                                    
                                    margin-top: -20px;
                                   
                                    cursor: pointer;
                                    display: flex;
                                    color: #fff;
                                    .prev{
                                        left: 20px;
                                        position: absolute;
                                        @include flex();
                                        i{font-size: 35px; }
                                    }
                                    .next{
                                        right: 20px;
                                        position: absolute;
                                        @include flex();
                                        i{font-size: 35px; }
                                    }
                                }
                             
                            }
                        }
                        .box__item-5 {
                            @include box();
                            h2{
                                @include h2();
                            }
                            p{ color: $xam;}
                            .box__skill{
                                .skill__progress{
                                    margin-top: 40px;
                                    .skill__item{
                                        margin: 20px 0;
                                        h5{
                                           color: #fff;
                                        }
                                        .skill__container{
                                            width: 100%;
                                            height: 3px;
                                            background-color: #333333;
                                            position: relative;
                                            .skill{    
                                              
                                                &.start{
                                                   animation: chay 3s;
                                                   @keyframes chay {
                                                       0%{
                                                           width: 0;
                                                       }
                                                       50%{
                                                           width: 5%;
                                                       }
                                                       100%{
                                                           visibility: visible;
                                                       }
                                                       
                                                   }
                                                }                                    
                                                p{
                                                    color: $xam;
                                                    position: absolute;
                                                    top: 0;
                                                }
                                            }
                                            .html{
                                                width:55%;
                                                height: 3px;
                                                background-color: $color;
                                                position: relative;
                                                &::after{
                                                    position: absolute;
                                                    content: '55%';
                                                    top: -30px;
                                                    color: $xam;
                                                    font-size: 19px;
                                                    right: 0;
                                                    @include ani();
                                                }
                                            }
                                            .css{
                                                width:50%;
                                                height: 3px;
                                                background-color: $color;
                                                position: relative;
                                                
                                                &::after{
                                                    position: absolute;
                                                    content: '50%';
                                                    top: -30px;
                                                    color: $xam;
                                                    font-size: 19px;
                                                    right: 0;
                                                    @include ani();
                                                  
                                                }
                                            }
                                            .bootstrap{
                                                width:25%;
                                                height: 3px;
                                                background-color: $color;
                                                position: relative;
                                                // left: 25%;
                                                   
                                                &::after{
                                                    position: absolute;
                                                    content: '25%';
                                                    top: -30px;
                                                    color: $xam;
                                                    font-size: 19px;
                                                    right: 0;
                                                    @include ani();
                                                   
                                                }
                                            }
                                            .js{
                                                width:35%;
                                                height: 3px;
                                                background-color: $color;
                                                position: relative;
                                               
                                                &::after{
                                                    position: absolute;
                                                    content: '35%';
                                                    top: -30px;
                                                    color: $xam;
                                                    font-size: 19px;
                                                    right: 0;
                                                    @include ani();
                                                }
                                            }
                                            .jquejy{
                                                width:20%;
                                                height: 3px;
                                                background-color: $color;
                                                position: relative;
                                                &::after{
                                                    position: absolute;
                                                    content: '20%';
                                                    top: -30px;
                                                    color: $xam;
                                                    font-size: 19px;
                                                    right: 0;
                                                    @include ani();
                                                   
                                                }
                                            }
                                        }   
                                    }
                                }
                            }

                        }
                    }
                    .active{
                        opacity: 1;
                        visibility: visible;
                        transform: rotateY(0deg); 
                    }
                }
            }
        }
    }
}
/* ===============================================================================
    3. Change Bar
   ===============================================================================
*/
.change__bar{
    position: fixed;
    left: 0;
    top: 0%;
    width: 250px;
    background-color: $color;
    color: #000;
    transform: translateX(-100%);
    transition: 0.5s;
    &.left{
        transform: translateX(0%);
    }
    .icon__change{
        position: absolute;
        top: 0;
        left: 100%;
        padding: 5px 10px;
        background-color: $color;
        cursor: pointer;
        
    }
    .change__color{
        h4{ padding: 5px 10px; color: #fff;}
        ul{
            padding: 0 10px;
            display: flex;
            width: 100%;
            li{
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: 0;
                margin:  0 5px;
            }
        }
    }
    .change__bg{
        h4{ padding: 5px 10px;color: #fff;}
        ul{
            padding: 0 10px;
            display: flex;
            width: 100%;

            
            li{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: 0;
                margin:  0 5px;
                cursor: pointer;
                display: inline-block;
            }
        }
    }

}
/* ===============================================================================
    4. Load
   ===============================================================================
*/
.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    &::before{
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        background-color: #000;
        top: 0;
        left: 0;
        z-index: 999;  
        animation: left 0.4s ease-in-out;
        animation-delay: 1.8s;;
        @keyframes left {
            0%{
               
                transform: translateX(0);
            }
            100%{
                transform: translateX(-100%);
            }
        }
    }
    &::after{
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        background-color: #000;
        top: 0;
        right: 0;
        z-index: 999; 
        animation: right 0.4s ease-in-out;
        animation-delay: 1.8s;;
        @keyframes right {
            0%{
           
                transform: translateX(0);
            }
            100%{
                transform: translateX(100%);
            }
        } 
    } 
 
    &.none{
        opacity: 0;
        visibility: hidden;
        
    }
    
    ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        z-index: 9999;
        &.none{
            opacity: 0;
            visibility: hidden;
        }
        li{
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 15px;
            animation: animate 1.6s ease-in-out infinite;
            @keyframes animate {
                0%,40%,100%{
                    transform: scale(0.2);
                }
                20%{
                    transform: scale(1);
                }

            }
        }
        li:nth-child(1){
            animation-delay: -1.4s;
            background-color: #76FF03;
            box-shadow: 0 0 50px #76FF03;;
        }
        li:nth-child(2){
            animation-delay: -1.2s;
            background-color: #ffff00;
            box-shadow: 0 0 50px #ffff00;;
        }
        li:nth-child(3){
            animation-delay: -1s;
            background-color: #F06292;
            box-shadow: 0 0 50px #F06292;;
        }
        li:nth-child(4){
            animation-delay: -0.8s;
            background-color: #4FC3F7;
            box-shadow: 0 0 50px #4FC3F7;
        }
        li:nth-child(5){
            animation-delay: -0.6s;
            background-color: #BA68C8;
            box-shadow: 0 0 50px #BA68C8;;
        }
        li:nth-child(6){
            animation-delay: -0.4s;
            background-color: #F57C00;
            box-shadow: 0 0 50px #F57C00;
        }
        li:nth-child(7){
            animation-delay: -0.2s;
            background-color: #673AB7;
            box-shadow: 0 0 50px #673AB7;;
        }
        
        
    }
}